name: Deploy

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  Tests:
    uses: ./.github/workflows/testing.yml
    secrets:
      S3_LOG_EXTRACTION_PASSWORD: ${{ secrets.S3_LOG_EXTRACTION_PASSWORD }}
      CODECOV_CREDENTIALS: ${{ secrets.CODECOV_CREDENTIALS }}

  RemoteTests:
    uses: ./.github/workflows/remote_testing.yml
    secrets:
      S3_LOG_EXTRACTION_PASSWORD: ${{ secrets.S3_LOG_EXTRACTION_PASSWORD }}
      CODECOV_CREDENTIALS: ${{ secrets.CODECOV_CREDENTIALS }}
